@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
    Introdução<br /><br />
    A Portugal Assistência Técnica em Informática Ltda valoriza a sua privacidade e está comprometida em proteger as informações pessoais de nossos clientes, técnicos e outros usuários de nosso sistema de controle de ordens de serviço. Esta política de privacidade descreve como coletamos, usamos, armazenamos e protegemos suas informações pessoais. Ao utilizar nosso sistema, você concorda com as práticas descritas nesta política.<br /><br />

    Coleta de Informações<br /><br />
    Coletamos informações pessoais de várias formas, incluindo, mas não se limitando a, quando você:<br />

    Registra uma conta: Informações como nome completo, CPF/CNPJ, endereço, e-mail, telefone e dados de login são coletadas.
    Envia uma solicitação de serviço: Detalhes sobre o serviço solicitado, incluindo descrição do problema, data/hora da solicitação e informações adicionais fornecidas por você.
    Cadastra técnicos: Informações profissionais e pessoais dos técnicos, incluindo nome, CPF, RG, endereço, telefone, e-mail, cargo, departamento e dados contratuais.
    Interage com nosso sistema: Coletamos dados sobre seu uso do sistema, incluindo registros de atividades, histórico de ordens de serviço e comunicações.<br /><br />
    Uso das Informações<br /><br />
    As informações coletadas são usadas para os seguintes propósitos:<br /><br />

    Gerenciamento de ordens de serviço: Processar, gerenciar e acompanhar suas solicitações de serviço.<br /><br />
    Comunicação: Entrar em contato com você para fornecer atualizações sobre suas ordens de serviço, responder a perguntas e fornecer suporte técnico.
    Melhoria do sistema: Analisar dados para melhorar nosso sistema, personalizar sua experiência e desenvolver novos recursos.<br />
    Conformidade legal: Cumprir obrigações legais e regulatórias, responder a processos legais ou solicitações de autoridades governamentais.<br /><br />
    Compartilhamento de Informações<br /><br />
    Não vendemos, alugamos ou divulgamos suas informações pessoais a terceiros, exceto:<br /><br />

    Provedores de serviços: Compartilhamos informações com terceiros que nos ajudam a operar nosso sistema, desde que esses provedores concordem em manter suas informações confidenciais.<br /><br />
    Requisitos legais: Quando exigido por lei, ou para proteger nossos direitos, segurança ou propriedade, ou os de terceiros.
    Segurança das Informações<br /><br />
    Implementamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição. Isso inclui o uso de tecnologias de criptografia, controles de acesso e outras práticas de segurança padrão da indústria.<br /><br />

    Retenção de Dados<br /><br />
    As informações pessoais são retidas apenas pelo tempo necessário para cumprir os propósitos descritos nesta política, a menos que um período de retenção mais longo seja exigido ou permitido por lei.<br /><br />

    Seus Direitos<br /><br />
    Você tem o direito de acessar, corrigir, atualizar ou excluir suas informações pessoais. Para exercer esses direitos, entre em contato conosco através dos dados de contato fornecidos abaixo.<br /><br />

    Alterações nesta Política<br /><br />
    Podemos atualizar esta política de privacidade periodicamente para refletir mudanças em nossas práticas de privacidade. Notificaremos você sobre quaisquer mudanças significativas através de nosso sistema ou por outros meios apropriados.<br /><br />

    Contato<br /><br />
    Se você tiver dúvidas ou preocupações sobre esta política de privacidade ou nossas práticas de privacidade, entre em contato conosco:<br /><br />

    Portugal Assistência Técnica em Informática Ltda
    Rua Direita, 100 - Bairro Esquerdo -  São Paulo - SP.
    E-mail de contato: portudgal@portugal.com.br
    Telefone de contato: (12) 3456-7890
</p>
